{
  "CN": "etcd-ca",
  "key": {
    "algo": "{{ etcd_cert_algo }}",
    "size": {{ etcd_cert_size }}
  },
  "names": [
    {
      "C": "RU",
      "ST": "RU",
      "L": "SPB",
      "O": "k8s",
      "OU": "System"
    }
  ]
}
