#[member]
ETCD_NAME={{ ansible_hostname }}
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_LISTEN_PEER_URLS="https://{{ ansible_host }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ ansible_host }}:2379,https://127.0.0.1:2379"

#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ ansible_host }}:2380"
ETCD_INITIAL_CLUSTER="{{hostvars[groups['masters'][0]]['ansible_hostname']}}=https://{{hostvars[groups['masters'][0]]['ansible_host']}}:2380,{{hostvars[groups['masters'][1]]['ansible_hostname']}}=https://{{hostvars[groups['masters'][1]]['ansible_host']}}:2380,{{hostvars[groups['masters'][2]]['ansible_hostname']}}=https://{{hostvars[groups['masters'][2]]['ansible_host']}}:2380"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_token }}"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ ansible_host }}:2379"

#[Security]
ETCD_CERT_FILE="/etc/ssl/etcd/server.pem"
ETCD_KEY_FILE="/etc/ssl/etcd/server-key.pem"
ETCD_TRUSTED_CA_FILE="/etc/ssl/etcd/ca.pem"
ETCD_CLIENT_CERT_AUTH="false"
ETCD_PEER_CERT_FILE="/etc/ssl/etcd/member.pem"
ETCD_PEER_KEY_FILE="/etc/ssl/etcd/member-key.pem"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="/etc/ssl/etcd/ca.pem"