[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
EnvironmentFile=/etc/etcd.env
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

ExecStart=/usr/local/bin/etcd --name {{ansible_hostname}} --data-dir /var/lib/etcd --listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 --advertise-client-urls http://{{ipLocal}}:2379,http://{{ipLocal}}:4001 --listen-peer-urls http://0.0.0.0:2380 --initial-advertise-peer-urls http://{{ipLocal}}:2380 --initial-cluster {{etcdName1}}=http://{{etcdIp1}}:2380,{{etcdName2}}=http://{{etcdIp2}}:2380,{{etcdName3}}=http://{{etcdIp3}}:2380 --initial-cluster-token etcdToken --initial-cluster-state new

[Install]
WantedBy=multi-user.target
