---
# ETCD TLS Certificate Generation
# References:
# - https://mcs.mail.ru/blog/zapuskaem-etcd-klaster-dlya-kubernetes
# - https://coreos.com/os/docs/latest/generate-self-signed-certificates.html

- name: Clean up old certs on ansible controller
  file:
    path: /tmp/etcd/certs
    state: absent
  delegate_to: localhost
  run_once: true
  tags: ssl

- name: Recreate etcd ssl working directory
  file:
    path: "{{ etcd_cert_work_dir }}"
    state: "{{ item }}"
  loop:
    - absent
    - directory
  tags: ssl

- name: Install cfssl tools
  get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest }}"
    mode: '0755'
  loop:
    - url: "https://github.com/cloudflare/cfssl/releases/download/v{{ cfssl_version }}/cfssl_{{ cfssl_version }}_linux_amd64"
      dest: /usr/local/bin/cfssl
    - url: "https://github.com/cloudflare/cfssl/releases/download/v{{ cfssl_version }}/cfssljson_{{ cfssl_version }}_linux_amd64"
      dest: /usr/local/bin/cfssljson
  tags: ssl
  when: inventory_hostname == groups['kube_masters'][0]

- name: Create ca-config.json
  template:
    src: ca-config.json.j2
    dest: "{{ etcd_cert_work_dir }}/ca-config.json"
  tags: ssl
  when: inventory_hostname == groups['kube_masters'][0]

- name: Create ca-csr.json
  template:
    src: ca-csr.json.j2
    dest: "{{ etcd_cert_work_dir }}/ca-csr.json"
  tags: ssl
  when: inventory_hostname == groups['kube_masters'][0]

- name: Generate new CA certificate
  shell: |
    cfssl gencert -initca ca-csr.json | cfssljson -bare ca -
  args:
    chdir: "{{ etcd_cert_work_dir }}"
  tags: ssl
  when: inventory_hostname == groups['kube_masters'][0]

- name: Create server certificates for all masters
  shell: |
    echo '{"CN":"{{ hostvars[item]['ansible_hostname'] }}","hosts":[""],"key":{"algo":"{{ etcd_cert_algo }}","size":{{ etcd_cert_size }}}}' | \
    cfssl gencert \
      -ca=ca.pem \
      -ca-key=ca-key.pem \
      -config=ca-config.json \
      -profile=server \
      -hostname="{{ hostvars[item]['ansible_host'] }},{{ hostvars[item]['ansible_hostname'] }}" - | \
    cfssljson -bare {{ hostvars[item]['ansible_hostname'] }}
  args:
    chdir: "{{ etcd_cert_work_dir }}"
  loop: "{{ groups['kube_masters'] }}"
  tags: ssl
  when: inventory_hostname == groups['kube_masters'][0]

- name: Create peer certificates for all masters
  shell: |
    echo '{"CN":"{{ hostvars[item]['ansible_hostname'] }}","hosts":[""],"key":{"algo":"{{ etcd_cert_algo }}","size":{{ etcd_cert_size }}}}' | \
    cfssl gencert \
      -ca=ca.pem \
      -ca-key=ca-key.pem \
      -config=ca-config.json \
      -profile=peer \
      -hostname="{{ hostvars[item]['ansible_host'] }},{{ hostvars[item]['ansible_hostname'] }}" - | \
    cfssljson -bare {{ hostvars[item]['ansible_hostname'] }}-peer
  args:
    chdir: "{{ etcd_cert_work_dir }}"
  loop: "{{ groups['kube_masters'] }}"
  tags: ssl
  when: inventory_hostname == groups['kube_masters'][0]

- name: Create client certificate
  shell: |
    echo '{"CN":"client","key":{"algo":"{{ etcd_cert_algo }}","size":{{ etcd_cert_size }}}}' | \
    cfssl gencert \
      -ca=ca.pem \
      -ca-key=ca-key.pem \
      -config=ca-config.json \
      -profile=client - | \
    cfssljson -bare client
  args:
    chdir: "{{ etcd_cert_work_dir }}"
  tags: ssl
  when: inventory_hostname == groups['kube_masters'][0]

- name: Get list of generated certificate files
  find:
    paths: "{{ etcd_cert_work_dir }}"
    patterns: "*"
  register: cert_files
  when: inventory_hostname == groups['kube_masters'][0]
  tags:
    - ssl
    - copy

- name: Fetch certificates to ansible controller
  fetch:
    src: "{{ item.path }}"
    dest: "/tmp/etcd/certs/{{ item.path | basename }}"
    flat: yes
  loop: "{{ cert_files.files }}"
  when: inventory_hostname == groups['kube_masters'][0]
  tags:
    - ssl
    - copy

- name: Recreate etcd ssl directory on all masters
  file:
    path: "{{ etcd_ssl_dir }}"
    state: "{{ item }}"
  loop:
    - absent
    - directory
  tags:
    - ssl

- name: Copy certificates to etcd nodes
  copy:
    src: "/tmp/etcd/certs/{{ item }}"
    dest: "{{ etcd_ssl_dir }}/{{ item }}"
    mode: '0600'
  loop:
    - "ca.pem"
    - "{{ ansible_hostname }}.pem"
    - "{{ ansible_hostname }}-key.pem"
    - "{{ ansible_hostname }}-peer.pem"
    - "{{ ansible_hostname }}-peer-key.pem"
    - "client.pem"
    - "client-key.pem"
  tags:
    - ssl
    - copy
