---

- name: Create kubeadm config directory
  file:
    path: /opt/config/kubeadm
    state: directory
  tags:
    - kube_masters
    - first_master
    - prepare

- name: Copy Ñonfig kubeadm-init.yaml
  template:
    src: kubeadm-init.yaml.j2
    dest: /opt/config/kubeadm/kubeadm-init.yaml
  tags:
    - kube_masters
    - first_master
    - prepare   


