apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
spec:
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
  externalIPs:
{% if inggressOnVrrp == "true" %}
  - {{virtIp}}
{% endif %}
{% if (HOST_COUNT == "0") and (inggressOnVrrp == "false") %}
  - {{ hostvars[groups['masters'][0]]['ansible_host'] }}
  - {{ hostvars[groups['masters'][1]]['ansible_host'] }}
  - {{ hostvars[groups['masters'][2]]['ansible_host'] }}
{% endif %}
{% if HOST_COUNT > "0" %}
{% for host in groups['ingressnodes'] %}
  - {{ hostvars[host]['ansible_host'] }}
{% endfor %}
{% endif %}
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
