---
- name: restart haproxy
  ansible.builtin.systemd:
    name: haproxy
    state: restarted
    daemon_reload: yes

- name: reload haproxy
  ansible.builtin.systemd:
    name: haproxy
    state: reloaded

- name: restart kubelet
  ansible.builtin.systemd:
    name: kubelet
    state: restarted
